            * {
                font-family: Arial, Helvetica, sans-serif;
                line-height: 1.5;
            }

            body {
                background-color: white;

            }


            a:link,
            a:visited {
                color: #005091;
                text-decoration: none;
                font-size: 12pt;
            }

            a:active,
            a:hover {
                color: #005091;
                text-decoration: underline;
                font-size: 12pt;
            }

            p,
            ul,
            ol,
            li {
                font-size: 12pt;
            }

            .divwide {
                width: 100%;
                padding: 16px 8px 16px 8px;
            }

            .divnarrow {
                max-width: 800px;
                margin: auto;
                padding: 16px 8px;
            }

            h1 {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 16pt;
                color: white;
                background-color: #006871;
                font-weight: normal;
                text-align: center;
                padding: 6px;
            }



            h2 {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 14pt;
                color: #005091;
                font-weight: bold;
                padding-top: 10px;
            }

            h3 {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 12pt;
                color: #005091;
                font-weight: bold;
            }

            li {
                margin-top: 15px;
                margin-bottom: 15px;
            }

            .topnav {
                background-color: #006871;
                text-align: center;
                color: white;
            }

            a.navlink:hover,
            a.navlink:link,
            a.navlink:visited,
            a.navlink:active {
                color: white;
            }