body {
    background-color: #eeeeee;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #006871;
    font-size: 18pt;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 14pt;
    font-weight: bold;
    line-height: 1.5;
    text-align: left;  

}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 12pt;
    font-weight: bold;
    line-height: 1.5;
    text-align: left;  
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 12pt;
    line-height: 1.5;
    text-align: left;

}

ul {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 12pt;
    line-height: 1.5;
    text-align: left;

}

ol {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 12pt;
    line-height: 1.5;
    text-align: left;

}

.boldPara {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 12pt;
    line-height: 1.5;
    text-align: left;
}

.quotePara {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 12pt;
    line-height: 1.5;
    text-align: left;
    font-style: italic;

}

.boxDivision
{
    width: 800px;
    border: 0pt;
    background-color: aliceblue;
    margin: auto;
}

a:link {
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
    font-size: 12pt;
    line-height: 1.5;
    text-align: left;
    text-decoration: underline;

}

a:focus {
    outline: 1px dashed red;
  }
