body {background-color: #eeeeee;}
        
        .boxdiv {
            margins: auto;
            width: 760px; 
            border: 1px black;
            background-color: #ffffff;
        }

        h1 {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 18px;
            color: #006871;
            /* set heading color */
        }

        p {
            font-family: arial;
            color: black;
            line-height: 1.5;
            font-size: 12pt;
            /* inline comments can be added to styles */
        }

        .boldpara {
            font-family: arial;
            font-weight: bold;
            color: darkblue;
            font-size: 12pt;
            line-height: 1.5;
            /* bold paragraph formatting*/
        }

        .quote {
            font-family: arial;
            font-style: italic;
            color: orangered;
            font-size: 12pt;
            line-height: 1.5;
            /* bold paragraph formatting*/
        }
